body {
  font-family: "Roboto";
  .container-fluid {
    --bs-gutter-x: 35px;
  }
  .site-header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1111;
    width: 100%;
    a {
      img {
        width: 102px;
        height: 55px;
      }
    }
    .icon-btn {
      flex-direction: column;
      .icon-one {
        display: inline-flex;
        margin-left: -8px;
        margin-bottom: 10px;
      }
      * {
        display: inline-flex;
      }
    }
    &.stick-header {
      background: #242424;
    }
    .offcanvas {
      height: 100vh;
      background: #000000;
      .btn-close {
        filter: brightness(0) invert(1);
      }
      .offcanvas-body {
        height: calc(100vh - 64px);
        ul {
          li {
            a {
              font: italic normal bold 40px/80px Roboto;
              letter-spacing: 0px;
              color: #ffffff;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
  .site-banner {
    background: #202020 url(../image/home-banner.png) no-repeat center center /
      cover;
    padding: 194px 0 52px 0;
    h1 {
      text-align: left;
      font: normal normal 900 40px/48px Roboto;
      letter-spacing: 5.4px;
      color: #ffffff;
      text-transform: uppercase;
      padding-top: 114px;
      padding-bottom: 113px;
      //   width: 900px;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        background: url(../image/banner-shap.png) no-repeat center left;
        background-size: contain;
        left: 0;
        top: 0;
      }
      span {
        position: relative;
        z-index: 11;
        display: inline-block;
      }
    }
  }
}
@media only screen and (min-width: 991px) {
  body {
    .container-fluid {
      --bs-gutter-x: 8rem;
    }
    .logo-mobile {
      opacity: 0;
      pointer-events: none;
    }
    .site-header {
      a {
        img {
          width: auto;
          height: auto;
        }
      }
      .offcanvas {
        .offcanvas-body {
          ul {
            li {
              a {
                text-align: left;
                font: italic normal bold 80px/120px Roboto;
                letter-spacing: 0px;
                color: #ffffff;
                text-decoration: none;
              }
            }
          }
        }
      }
    }
    .site-banner {
      h1 {
        font: normal normal 900 90px/109px Roboto;
        &::after {
          width: 80%;
        }
        span {
          padding: 0 0 0 15rem;
        }
      }
    }
  }
}
@media only screen and (max-width: 1199px) {
  body {
    .site-banner {
        height: 100vh;
        padding: 139px 0 52px 0;
      h1 {
        padding-top: 20px;
        span{
            padding: 0 15px;
        }
      }
    }
  }
}
@media only screen and (max-width: 767px) {
  body {
    .site-banner {
      h1 {
        &::after{
            background: url(../image/shap-mobile.png) no-repeat top left;
        }
      }
    }
  }
}
@media only screen and (max-width: 480px) {
  body {
    .site-banner {
      h1 {
        font: normal normal 900 26px/130% Roboto;
      }
    }
  }
}
